.hero-area {
  height: 100%;
  background-image: url('http://placehold.it/1200x800/777777/FFFFFF/&text=Hero+Img');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
